<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   CPS.plist
   jenkinsTest

   Created by 张正超 on 15/12/20.
   Copyright (c) 2015年 张正超. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
